# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Pytest
.pytest_cache/

# Playwright / artifacts
artifacts/
test-results/
playwright-report/

# OS / editor
.DS_Store
.vscode/
.idea/
